@{
    ViewData["Title"] = "OrderHistory";
}
@{
    IEnumerable<Order> Orders = (IEnumerable<Order>)ViewData["Orders"];
}
<h2>Order History</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kraj</th>
            <th>ID</th>
            <th>Email</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var Order in Orders)
            {
                <tr>
                    <td>@Order.Country</td>
                    <td>@Order.OrderId</td>
                    <td>@Order.Email</td>
                    <td>@Order.FirstName</td>
                    <td>@Order.LastName</td>
                    <td>
                        <a class="btn btn-info" asp-controller="OrderHistory" asp-action="Details" asp-route-orderId="@Order.OrderId">SZCZEGÓŁY</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
