@using DrinkAndGo.Data.Models
@model IEnumerable<Order>

@{
    ViewData["Title"] = "OrderHistory";
}
<h2>OrderHistory</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kraj</th>
            <th>ID</th>
            <th>Email</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var Order in Model)
            {
                <tr>
                    <td>@Order.Country</td>
                    <td>@Order.OrderId</td>
                    <td>@Order.Email</td>
                    <td>@Order.FirstName</td>
                    <td>@Order.LastName</td>
                    <td>
                        <a class="btn btn-info">SZCZEGÓŁY</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
